﻿@using Microsoft.AspNetCore.Identity
@model LabWorkFooddDelivery.Models.Entity.Enterprise
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = @Model.Name;
}
<br />
<div>
    <p>
        <a asp-action="CreateFood" asp-route-id="@Model.Id" class="btn btn-default">Добавить блюдо</a>
    </p>
    <a asp-action="Index" class="btn btn-default">Назад</a>
</div>
<div id="sellBox"  class=" text-right ">
    
</div>
<input type="text" hidden name="UserId" id="UserId" value="@UserManager.GetUserId(User)" />

<div class="container-fluid">

    <div class="row">

        <div class="col-lg-12 col-md-12">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <div>
                <div class="text-center">
                    <img class="text-center" width="600" src="~/@Html.DisplayFor(model => model.ImagePath)" alt="Alternate Text" class="img-responsive" />
                </div>
            </div>
            <div class="text-center">
                <h3> @Html.DisplayFor(model => model.Description)</h3>
            </div>
        </div>

    </div>

</div>


<div class="container">
    @if (Model.Foods != null)
    {

        <div class="row">
            @foreach (var item in Model.Foods)
            {
                <div class="col-lg-12 col-md-12 table-bordered">
                    <Button  id="addToSellBox"  onclick="addToSellBox('@item.Id','@item.ImagePath','@item.Name','@item.Price');"  class=" btn btn-primary">добавить а корзику</Button>
                    <div class="text-center">
                        <h3> @Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                    <input type="text" hidden name="Id" id="Id" value="@item.Id"/>
                    <div class="text-center">
                        <img class="text-center" width="400" src="~/@Html.DisplayFor(modelItem => item.ImagePath)" alt="Alternate Text" class="img-responsive" />
                    </div>

                    <div class="text-center">
                        <h3 class="text-center"> @Html.DisplayFor(modelItem => item.Price)</h3>
                    </div>
                    <div class="text-center">
                        <h3> @Html.DisplayFor(modelItem => item.Description)</h3>
                    </div>

                    <hr />
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-center">Список пуст</div>
    }


</div>



<script>

    var cart = {};


    function addToSellBox(id , img, name , price ) {
        var food = new Object();
        food.id = id;
        food.img = img;
        food.name = name;
        food.price = price;
        food.qty = 1;
        
        var isEmpty = false;
        var size = 0;
        
        for (var item in cart) {
            size++;
            if (cart[item].id === food.id) {
                isEmpty = true;
                cart[item].qty ++;
            }
        }
        
        if (!isEmpty) {
            cart[size] = food;
        } 
        showSellBox();
      
    }

    function addFood(name, qty) {
        console.log("addFood");
        alert(name +' '+ qty);

        
    } function deleteFood(name, qty) {
        console.log("deleteFood");

        alert(name +' '+ qty);

        
    }
    function showSellBox() {
        var out = "", sum = 0;
        for (var item in cart) {
           
            out += '<h4>' + cart[item].name + ' ' + cart[item].price + '</h4>';
            out += '<h4> Порций ' + cart[item].qty + '</h4>';
            out += '<h4> Итого '+cart[item].price * cart[item].qty+' сом';

            sum += cart[item].price * cart[item].qty;
        }

        $('#sellBox').html(out + '<br/> <b>В корзине: ' + sum +' сом </b>');
    }
</script>