﻿@model IEnumerable<LabWorkFooddDelivery.Models.Entity.Enterprise>

@{
    ViewData["Title"] = "Все заведения";
  
}

<h2 class="text-center">@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Добавить</a>
</p>



<div class="container-fluid">
    
    <div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-12 col-md-12 table-bordered">
            <a asp-action="Details" asp-route-id="@item.Id">
                <div class="text-center">
                    <h3>  @Html.DisplayFor(modelItem => item.Name)</h3>
                </div>
                <div class="text-center">
                    <img class="text-center" width="800" src="~/@Html.DisplayFor(modelItem => item.ImagePath)" alt="Alternate Text" class="img-responsive"/>
                </div>

                <div class="text-center">
                    <h3> @Html.DisplayFor(modelItem => item.Description)</h3>
                </div>
            </a> 
         
        </div>
        <hr />
    }
    </div>

</div>
